/* Estilo del bloque de Page */
.page {
  display: flex;
  align-items: center;
  min-width: 320px;
  max-width: 1280px;
  margin: 45px 199px 0 199px;
  height: auto;
  background-color: #000000;

  flex-direction: column;
  color: #fff;
}
@media screen and (max-width: 880px) {
  .page {
    width: 880px;
    height: 100%;
    margin: 15px 0 0 0;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 768px) {
  .page {
    width: 768px;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 320px) {
  .page {
    width: 100%;
    height: 100%;
    margin: 5px auto;
    overflow-x: hidden;
  }
}
