.profile {
  display: flex;
  width: 882px;
  height: 120px;
  margin: 40px 0 0 0;
}

.profile__heading {
  width: 414px;
  height: 77px;
  margin: 18px 0 25px 30px;
}

.profile__image {
  width: 120px;
  min-width: 120px;
  height: 120px;
  background-image: url(../images/image_profile.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.profile__heading-name {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.profile__heading-title {
  width: 373px;
  height: 43px;
  margin: 0;
  font-family: "inter";
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #ffffff;
}
.profile__heading-subtitle {
  width: 372px;
  height: 18px;
  font-family: "inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #ffffff;
  margin: 16px 0 0 1px;
}

.profile__heading-edit {
  width: 24px;
  height: 24px;
  padding: 19px 0 0 17px;
  border: 1px solid #ffffff;
  background-color: black;
  background-image: url(../images/edit.png);
  background-repeat: no-repeat;
  background-position: center;
}
.profile__heading-edit:hover {
  opacity: 0.3;
}
.profile__heading-add {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background-color: black;
  background-image: url(../images/add.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 17px 0 10px 168px;
  padding: 0;
}
.profile__heading-add:hover {
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .profile {
    width: 768px;
  }
  .profile__heading-add:hover {
    opacity: 0.5;
  }

  .profile__heading-edit:hover {
    opacity: 0.5;
  }
}
@media screen and (max-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
  }

  .profile__image {
    align-items: center;
    width: 50px;

    background-image: url(../images/image_profile.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }

  .profile__heading {
    width: 100%;
    margin: 18px 0 0 0;
  }
  .profile__heading-title {
    font-size: 28px;
  }
  .profile__heading-add {
    width: 320px;
    margin: 17px 0 0 0;
  }
  .profile__heading-add:focus {
    opacity: 0.3;
  }

  .profile__heading-edit:focus {
    opacity: 0.3;
  }
}
