.cards {
  display: flex;

  width: 882px;
  height: 100%;
  border-radius: 10px 10px 0 0;
  margin: 50px 0 0 0;
}

.cards__public {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: auto;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  list-style: none;
}
.card__image {
  display: inline-grid;
  position: relative;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image-photo {
  width: 282px;
  height: 282px;
  list-style-type: none;
  border-radius: 10px 10px 0 0;
}
.card__image-delete {
  width: 18px;
  height: 19.3px;
  background-image: url(../images/delete.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  position: absolute;
  object-fit: contain;
  margin: 18px 15px 0 249px;
  z-index: 1;
  justify-content: flex-start;
}
.card__image-delete:hover {
  opacity: 0.3;
}
.card__content {
  display: flex;
  flex-direction: row;
  height: 23px;
  justify-content: center;
  list-style-type: none;
  margin: 25px 15px 31px 21px;
  width: 246px;
  align-items: center;
}
.card__content-title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content-like {
  width: 36px;
  height: 19px;
  background-image: url("../images/like.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 2px 0 5px 5px;
}

.card__content-like:hover {
  opacity: 0.5;
}
.card__counter {
  border-radius: 50%;
  color: #000;
  display: flex;
  height: 25px;
  position: relative;
  width: 25px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  top: 15px;
  left: 5px;
}
.card__content-like_Active {
  background-image: url("../images/likeActive.png");
}

@media screen and (max-width: 880px) {
  .cards {
    width: calc(100% - 25px);
  }
  .cards__public {
    display: flex;
    justify-content: center;
    width: calc(100% - 5px);
  }
}

@media screen and (max-width: 768px) {
  .cards {
    width: 768px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 9px;
  }
  .cards__public {
    justify-content: center;
    gap: calc(18px - 0.5em);
  }

  .card__image-delete:hover {
    opacity: 0.3;
  }
  .card {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    width: 320px;
  }

  .card__image-delete:hover {
    opacity: 0.3;
  }
}
