.profile {
  display: flex;
  width: 882px;
  height: 120px;
  margin: 40px 0 0 0;
}

.profile__heading {
  width: 414px;
  height: 77px;
  margin: 18px 0 25px 30px;
}

.profile__image {
  width: 120px;
  height: 120px;
  background-image: url(../images/image_profile.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.profile__heading-name {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.profile__heading-title {
  width: 373px;
  height: 43px;
  margin: 0;
  font-family: "inter";
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__heading-subtitle {
  width: 372px;
  height: 18px;
  font-family: "inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #ffffff;
  margin: 16px 0 0 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__heading-edit {
  width: 24px;
  height: 24px;
  padding: 19px 0 0 17px;
  border: 1px solid #ffffff;
  background-color: black;
  background-image: url(../images/edit.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}
.profile__heading-edit:hover {
  opacity: 0.3;
}
.profile__heading-add {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background-color: black;
  background-image: url(../images/add.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 17px 0 10px 168px;
  padding: 0;
}
.profile__heading-add:hover {
  opacity: 0.3;
}
@media screen and (max-width: 880px) {
  .profile {
    display: flex;
    flex-direction: row;
    width: calc(100% - 30px);
    height: auto;
    margin: 5px 5px;
  }
  .profile__heading {
    width: calc(100% - 30px);
    height: 50%;
    margin: 0 0 0 20px;
  }
  .profile__image {
    width: calc(25% - 25px);
  }
  .profile__heading-title {
    width: calc(74% - 10px);
    height: 50%;
    margin: 0;
    font-weight: 400;
  }
  .profile__heading-subtitle {
    width: calc(50% - 5px);
    height: 50%;
    margin: 0;
    font-size: calc(18px + 0.5vw);
  }

  .profile__heading-add {
    width: calc(27% - 3px);
    margin: 0 auto;
  }

  .profile__heading-edit {
    margin: 15px 0 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: calc(100% - 20px);
  }
  .profile__image {
    width: calc(30% - 25px);
  }

  .profile__heading-name {
    width: calc(100% - -65px);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .profile__heading-add:hover {
    opacity: 0.5;
  }

  .profile__heading-edit:hover {
    opacity: 0.5;
  }
}
@media screen and (max-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    margin: 0 auto;
    height: 100%;
    align-items: center;
  }
  .profile__heading-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: calc(50% - -120px);
  }
  .profile__image {
    align-items: center;
    width: calc(40% - 2px);

    background-image: url(../images/image_profile.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }

  .profile__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 18px 0 0 0;
  }
  .profile__heading-title {
    width: 100%;
    font-size: 24px;
  }
  .profile__heading-add {
    width: calc(100% - 5px);
    margin: 17px 0 0 0;
  }
  .profile__heading-edit {
    width: 24px;
    margin: 15px;
  }
  .profile__heading-add:focus {
    opacity: 0.3;
  }

  .profile__heading-edit:focus {
    opacity: 0.3;
  }
}
